body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
  }
  .foto{
    max-width: 50%;
  }
  header {
    background-color: #4ac6d6;
    color: white;
    padding: 1em 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a, nav ul li button {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border: none;
    background: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  
  main {
    padding: 2em;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 400px;
    margin: auto;
  }
  
  form input, form select, form button {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    background-color: #65e4e9;
    color: white;
    border: none;
  }
  
  form button:hover {
    background-color: #6bade2;
  }
  
  body.dark-mode {
    background-color: #333;
    color: #ddd;
  }
  
  body.dark-mode header {
    background-color: #222;
  }
  
  body.dark-mode nav ul li button {
    color: #ddd;
  }
  
  body.dark-mode form input, 
  body.dark-mode form select, 
  body.dark-mode form button {
    background-color: #444;
    color: #ddd;
    border: 1px solid #555;
  }
  